.header {
    background: linear-gradient(to bottom, #86dce4, #1b575e); /* Градиент от светло-голубого к синему */
    color: white;
    padding: 20px;
    text-align: center;
}

.header h1 {
    color: white;
}

.nav {
    margin: 20px 0;
}

.nav a {
    margin: 0 15px;
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.nav a:hover {
    text-decoration: underline;
}
