<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{if .IsBusiness}}Список бизнес услуг{{else if .IsTechnical}}Список технических услуг{{end}}</title>
    <link rel="stylesheet" href="/templates/services/styles.css">
    <link rel="stylesheet" href="/templates/header/styles.css">
    <script>
        let selectedRow = null;

        function selectRow(row) {
            if (selectedRow === row) {
                selectedRow.classList.remove('selected');
                selectedRow = null;
            } else {
                if (selectedRow) {
                    selectedRow.classList.remove('selected');
                }
                selectedRow = row;
                selectedRow.classList.add('selected');
            }
        }

        function editService() {
            if (selectedRow) {
                const serviceId = selectedRow.cells[0].innerText;
                window.location.href = `/edit-service?id=${serviceId}`;
            } else {
                alert('Пожалуйста, выберите строку для редактирования.');
            }
        }

        function openService() {
            if (selectedRow) {
                const serviceId = selectedRow.cells[0].innerText;
                window.location.href = `/open-service?id=${serviceId}`;
            } else {
                alert('Пожалуйста, выберите строку для открытия.');
            }
        }

        function deleteService() {
            if (selectedRow) {
                const serviceId = selectedRow.cells[0].innerText;
                const confirmation = confirm('Вы уверены, что хотите удалить эту услугу?');
                if (confirmation) {
                    fetch(`/delete-service?id=${serviceId}`, {
                        method: 'DELETE'
                    })
                        .then(response => {
                            if (response.ok) {
                                // Успешное удаление, обновите страницу или удалите строку из таблицы
                                window.location.reload(); // Перезагрузить страницу
                            } else {
                                alert('Ошибка при удалении услуги.');
                            }
                        })
                        .catch(error => {
                            console.error('Ошибка:', error);
                            alert('Ошибка при удалении услуги.');
                        });
                }
            } else {
                alert('Пожалуйста, выберите строку для удаления.');
            }
        }

        document.addEventListener('click', function(event) {
            const table = document.querySelector('table');
            if (!table.contains(event.target) && selectedRow) {
                selectedRow.classList.remove('selected');
                selectedRow = null;
            }
        });
    </script>
</head>
<body>
{{template "header" .}}
<div class="content">
    <h2>{{if .IsBusiness}}Список бизнес услуг{{else if .IsTechnical}}Список технических услуг{{end}}</h2>
    <table>
        <thead>
        <tr>
            <th>ID</th>
            <th>Название</th>
        </tr>
        </thead>
        <tbody>
        {{range .Services}}
        <tr onclick="selectRow(this)">
            <td>{{.ID}}</td>
            <td>{{.Name}}</td>
        </tr>
        {{end}}
        </tbody>
    </table>
    <br>
    <button class="button" onclick="openService()">Открыть</button>
    {{if .IsAdmin}}
    <button class="button" onclick="editService()">Редактировать</button>
    <button class="button" onclick="deleteService()">Удалить</button>
    {{end}}
    <br><br>
    {{if .IsAdmin}}
    <a class="button add-service" href="/add-service">Добавить новую услугу</a>
    {{end}}
</div>
</body>
</html>
