<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Список инцидентов</title>
    <link rel="stylesheet" href="/templates/incidents/styles.css">
    <link rel="stylesheet" href="/templates/header/styles.css">
</head>
<body>
{{template "header" .}} <!-- Вставка заголовка -->

<div class="content">
    <h2>Список инцидентов</h2>
    <a href="/incidents/add" class="button add-service">Добавить инцидент</a> <!-- Кнопка для добавления инцидента -->
    <table>
        <thead>
        <tr>
            <th>ID</th>
            <th>Название</th>
            <th>Статус</th>
            <th>Пользователь</th>
        </tr>
        </thead>
        <tbody>
        {{range .Incidents}}
        <tr>
            <td>{{.ID}}</td>
            <td><a href="/incident/{{.ID}}">{{.Title}}</a></td>
            <td>{{.Status}}</td>
            <td>{{.User.Username}}</td>
        </tr>
        {{end}}
        </tbody>
    </table>
</div>
</body>
</html>
