<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Инцидент {{.Incident.Title}}</title>
    <link rel="stylesheet" href="/templates/incidents/incident/styles.css">
    <link rel="stylesheet" href="/templates/header/styles.css">
</head>
<body>
{{template "header" .}}

<div class="incident-card">
    <h1>{{.Incident.Title}}</h1>

    <form id="myform" method="post" action="/incident/{{.Incident.ID}}/update">
        <p><strong>Статус:</strong>
            <select name="status" id="status">
                <option value="open" {{if eq .Incident.Status "open"}}selected{{end}}>Открыт</option>
                <option value="in progress" {{if eq .Incident.Status "in progress"}}selected{{end}}>В процессе</option>
                <option value="resolved" {{if eq .Incident.Status "resolved"}}selected{{end}}>Закрыт</option>
            </select>
        </p>

        <p><strong>Пользователь:</strong> {{.Username}}</p>
        <p><strong>Описание:</strong> {{.Incident.Description}}</p>
        <p><strong>Время создания:</strong> {{.Incident.CreatedAt.Format "02/01/2006 15:04"}}</p>
        <p><strong>Время последнего обновления:</strong> {{.Incident.UpdatedAt.Format "02/01/2006 15:04"}}</p>

        <p><strong>Ответственный:</strong>
            <select name="responsible_user_id" id="responsible_user_id">
                <option value="">Не назначен</option>
                {{range .TechOfficers}}
                <option value="{{.ID}}" {{if eq .ID $.Incident.ResponsibleUserID}}selected{{end}}>{{.Username}}</option>
                {{end}}
            </select>
        </p>

        <a href="#" onclick="document.getElementById('myform').submit()"  class="button">Сохранить изменения</a>
    </form>

    <a href="/incidents" class="button">Назад</a>
</div>
</body>
</html>
